:host {
  display: block;
}

.company-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;

  .company-card {
    max-width: 500px;

    .mat-mdc-card-actions {
      display: flex;
      justify-content: center;
    }
  }
}